.bg {
  background-image: url("./assets/portfolio-background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

  display: grid;
  place-items: center;

  color: white;
  overflow-x: hidden;

  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
